$primary: #3f51b5;

footer {
  display: flex;
  justify-content: space-around;
  background-color: $primary;
  padding: 20px 0;
  .box {
    h3 {
      color: white;
    }
    input {
      color: white;
    }
    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;
      li {
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
  .contact {
    display: grid;
    row-gap: 10px;
  }
}
